<section class="top-experience">
    <div class="container">

        <!-- section-header module -->
        <div class="section-header">
            <h1 class="section-header__title white-style">
                Top-rated Experiences
            </h1>
            <p class="section-header__description">
                Sed egestas, ante et vulputate volutpat, eros pede semper est
            </p>
        </div>
        <!-- end section-header module -->


        <div class="top-experience__box owl-wrapper">
            <div class="owl-carousel" data-num="3">
            
                <div class="item">

                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image" src="{{ site.theme.link }}/static/upload/top1.jpg" alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="#">
                                    <img src="{{ site.theme.link }}/static/upload/flag1.jpg" alt="">
                                    Malaysia
                                </a>
                            </h2>
                            <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">5 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">255 Listing</a>
                                </li>
                            </ul>
                            <a class="btn-default" href="#">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->

                </div>
            
                <div class="item">

                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image" src="{{ site.theme.link }}/static/upload/top2.jpg" alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="#">
                                    <img src="{{ site.theme.link }}/static/upload/flag2.jpg" alt="">
                                    Italia
                                </a>
                            </h2>
                            <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul>
                            <a class="btn-default" href="#">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->

                </div>
            
                <div class="item">

                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image" src="{{ site.theme.link }}/static/upload/top3.jpg" alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="#">
                                    <img src="{{ site.theme.link }}/static/upload/flag3.jpg" alt="">
                                    France
                                </a>
                            </h2>
                            <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">12 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">1003 Listing</a>
                                </li>
                            </ul>
                            <a class="btn-default" href="#">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->

                </div>
            
                <div class="item">

                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image" src="{{ site.theme.link }}/static/upload/top4.jpg" alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="#">
                                    <img src="{{ site.theme.link }}/static/upload/flag4.jpg" alt="">
                                    United States
                                </a>
                            </h2>
                            <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">4 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">603 Listing</a>
                                </li>
                            </ul>
                            <a class="btn-default" href="#">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->

                </div>
                
            </div>
        </div>

    </div>
</section>